body {
    background: rgb(175, 88, 204);
    margin: 0;
  }

.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: right;
  gap: 2%;
}

// #player {
//   position: relative;
//   background-color: green;
// }

.video-container {
  position: relative;
}
#player {
  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 0;
  z-index: 0;
}

#drawing-container {
  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 0;
  z-index: 1;
}

#buttons {
  position: relative;
  top: 750px;
}

button, button + button {
  margin-left: 5%;
  height: 8%;
  width: 7%;
}

// canvas {
//   position: absolute;
//   margin: 0 auto;
//   left: 0;
//   top: 0;
// }

// #maincontainer div canvas {
//   position: absolute;
//   margin: 0 auto;
//   left: 0;
//   top: 0;
// }

// #maincontainer canvas {
//   background-color: transparent;
// }