body {
    background: rgb(175, 88, 204);
    margin: 0;
  }

.navbar, .navbar input {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: right;
  gap: 2%;
}

.navbar a {
  color: black
}

h1 {
  position: absolute;
  color:rgb(17, 14, 14);
  margin-left: 40%;
}

.video-container {
  position: relative;
}

#player {
  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 0;
  z-index: 0;
}

#drawing-container {
  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 0;
  z-index: 1;
}

#buttons {
  position: relative;
  top: 400px;
  left: 1150px;
  display: flex;
  flex-direction: column;
  height: 100%;
  // display: grid;
  // grid: auto-flow / 1fr 1fr 1fr 1fr;
  // width: 5%;
  // height: 5%;
}

button, button + button {
  margin-left: 5%;
  height: 8%;
  width: 7%;
}

.drawing-buttons input{
  width: 5%;
}